# Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
from scipy import stats

#### Import dataset

In this challenge we will work on the Pokemon dataset. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.).

In [3]:
# Your code here:

df = pd.read_csv("Pokemon.csv", index_col=0)
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [4]:
## We have  two independent populations and we have to use independent or uncorrelated t-test

## This is a two-sided test for the null hypothesis that 2 independent samples have identical averages.
## This test assumes that the populations have identical variances.

##  Equal variance assumption is discarded and hence we perform Welchâ€™s t-test,
## which does not assume equal population variance.



def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    # Your code here
    
    for feature in features:
        
        # We have to use independent t-test because sample_1 and sample_2 are independent. They cannot influence each other
        results[feature] = stats.ttest_ind(s1[feature], s2[feature], equal_var=False).pvalue
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [5]:
# Your code here
legendary = df[df["Legendary"] == True]

non_legendary = df[df["Legendary"] == False]

In [6]:
t_test_features(legendary, non_legendary)

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [7]:
# Your comment here

'''From the results of the independent t-test we conclude with high confidence that legendary
and non-legendary Pokemons have statistically different stats. The P-Value is way less than 0.05
and hence we reject the null hypothesis that their stats are the same'''

'From the results of the independent t-test we conclude with high confidence that legendary\nand non-legendary Pokemons have statistically different stats. The P-Value is way less than 0.05\nand hence we reject the null hypothesis that their stats are the same'

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [8]:
# Your code here



generation_1 = df[df['Generation'] == 1]

generation_2 = df[df['Generation'] == 2]

In [9]:
t_test_features(generation_1, generation_2)

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104394,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

In [ ]:
# Your comment here

'''
By observing the P-Values we see that they are all more than 0.05 except for "Speed".
We fail to reject null hypothesis and conclude that except "Speed" all other stats are the same for
generation 1 and generation 2 Pokemons.

'''

#### Compare pokemons who have single type vs those having two types.

In [10]:
# Your code here
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [12]:
## Single type Pokemons
single_type = df[df["Type 2"].isna()]


## Dual type Pokemons
dual_type = df[df["Type 2"].notna()]

In [13]:
t_test_features(single_type, dual_type)

{'HP': 0.11314389855379421,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667842,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819094,
 'Total': 1.1157056505229961e-07}

#### What conclusions can you make?

In [11]:
# Your comment here
'''
For "Speed" P-Value is between 0.05 and 0.1 and we can reject the null-hypothesis but we are not highly confident.

For "HP" P-Value is more than 0.1 and we confidently accept the null hypothesis and conclude that
"HP" is the same for single and dual type.


For all other stats, P-Value is less then 0.05 and we reject the null hypothesis and conclude that
these stats are different and this difference is statistically significant.

'''

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [14]:
# Your code here

stats.ttest_rel(df["Attack"], df["Defense"])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [15]:
stats.ttest_rel(df["Sp. Atk"], df["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

#### What conclusions can you make?

In [16]:
# Your comment here

'''
There is significant difference between "Attack" and "Defense" as P-Value is less than 0.05,
we reject the null hypothesis and conclude that the difference is statistically significant.



In case of "Sp. Atk" and "Sp. Def" P-Value is more than 0.05 and we fail to reject null hypothesis
and conclude that these are the statistically same
'''

'\nThere is significant difference between "Attack" and "Defense" as P-Value is less than 0.05,\nwe reject the null hypothesis and conclude that the difference is statistically significant.\n\n\n\nIn case of "Sp. Atk" and "Sp. Def" P-Value is more than 0.05 and we fail to reject null hypothesis\nand conclude that these are the statistically same\n'